# URL Playlist GCIKAR utama
GCIKAR_URL=https://gcikar.bigsentinel.biz.id/cs/cs.m3u8

# URL Playlist M3U Tambahan (pisahkan dengan koma jika lebih dari satu)
ADDITIONAL_M3U_URLS=https://github.com/apistech/project/blob/main/playlists/wc2026.m3u,https://github.com/apistech/project/blob/main/playlists/live_events.m3u
